/vendor/
**/bin/
**/obj/
**/node_modules/
**/.vs
**/.idea
**/.ionide
.pulumi
Pulumi.*.yaml
yarn.lock
ci-scripts
/nuget/
sdk/dotnet/version.txt
.DS_Store
/provider/cmd/pulumi-resource-command/schema-embed.json
dist/
.vscode
.gradle
**/.yarn

rsa*
examples/**/venv/
examples/**/__pycache__/
examples/yaml/Pulumi.dev.yaml

sdk/java/build
sdk/java/.gradle
sdk/java/gradle
sdk/java/gradlew
sdk/java/gradlew.bat

sdk/python/venv

coverage.txt
pulumi-pve.code-workspace
provider/cmd/pulumi-resource-pve/__debug_*

.claude
