/vendor/
**/bin/
**/obj/
**/node_modules/
**/.vs
**/.idea
**/.ionide
.pulumi
yarn.lock
ci-scripts
/nuget/
.vscode
pulumi-pve.code-workspace
.vscode/settings.json
settings.json
go.mod
go.sum
provider/cmd/pulumi-resource-pve/__debug_*
dist/